<h1>Add a User</h1>
<form [ngFormModel]="form"
      (onSubmit)="addUser()">
  <!-- User -->
  <div class="form-group">
    <h4>User</h4>
    <label for="name">Name</label>
    <input 
      id="name" 
      type="text"
      class="form-control"
      ngControl="name">
    <label for="email">Email</label>
    <input 
      id="email" 
      type="text"
      class="form-control"
      ngControl="email">
    <label for="phone">Phone</label>
    <input 
      id="phone" 
      type="text"
      class="form-control"
      ngControl="phone">
  </div>

  <!-- Address -->
  <div class="form-group">
    <h4>Address</h4>
    <label for="street">Street</label>
    <input 
      id="street" 
      type="text"
      class="form-control"
      ngControl="street">
    <label for="Suite">Suite</label>
    <input 
      id="Suite" 
      type="text"
      class="form-control"
      ngControl="Suite">
    <label for="city">City</label>
    <input 
      id="city" 
      type="text"
      class="form-control"
      ngControl="city">
    <label for="zip">Zip</label>
    <input 
      id="zip" 
      type="text"
      class="form-control"
      ngControl="zip">
  </div>
  
  <button class="btn btn-primary" type="submit">Save</button>
</form>