
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add a User</h1>
  </div>
  <div class="col-md-6 col-md-offset-3 well">
    <form [ngFormModel]="newUserForm"
          (ngSubmit)="addUser()">
      <!-- User -->
      <legend>User</legend>
      <div class="form-group">
        <label for="name">Name</label>
        <input 
          id="name" 
          type="text"
          class="form-control"
          ngControl="name"
          #name="ngForm">
        <div *ngIf="name.touched && !name.valid">Field is required.</div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          id="email" 
          type="text"
          class="form-control"
          ngControl="email"
          #email="ngForm">
        <div *ngIf="email.touched && !email.valid">Field is required.</div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input 
          id="phone" 
          type="text"
          class="form-control"
          ngControl="phone"
          #phone="ngForm">
        <div *ngIf="phone.touched && !phone.valid">Field is required.</div>
      </div>

      <!-- Address -->
      <legend>Address</legend>
      <div ngControlGroup="address">
        <div class="form-group">
          <label for="street">Street</label>
          <input 
            id="street" 
            type="text"
            class="form-control"
            ngControl="street"
            #street="ngForm">
          <div *ngIf="street.touched && !street.valid">Field is required.</div>
        </div>
        <div class="form-group">
          <label for="suite">Suite</label>
          <input 
            id="suite" 
            type="text"
            class="form-control"
            ngControl="suite"
            #suite="ngForm">
          <div *ngIf="suite.touched && !suite.valid">Field is required.</div>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input 
            id="city" 
            type="text"
            class="form-control"
            ngControl="city"
            #city="ngForm">
          <div *ngIf="city.touched && !city.valid">Field is required.</div>
        </div>
        <div class="form-group">
          <label for="zip">Zip</label>
          <input 
            id="zip" 
            type="text"
            class="form-control"
            ngControl="zip"
            #zip="ngForm">
          <div *ngIf="zip.touched && !zip.valid">Field is required.</div>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!newUserForm.valid">Save</button>
    </form>
  </div>
</div>